.now{
    background-color: tomato;
    font-size: 20px;
    font-weight: bold;
    margin: 10px;
    padding: 10px;
    border: 10px solid black;
    border-radius: 5px 40px;
    box-shadow: 10px 10px 5px #a80606;
}